@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-muted: var(--muted);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
}

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --muted: oklch(94% 0.02 260);
  --muted-foreground: oklch(60% 0.05 260);
}

.dark {
  --background: oklch(0% 0 0);
  --foreground: oklch(100% 0 0);
  --muted: oklch(24% 0.02 260);
  --muted-foreground: oklch(70% 0.04 260);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  html {
    scroll-behavior: smooth;
  }

  section {
    scroll-margin-top: 2rem;
  }

  /* img { */
  /*   @apply grayscale hover:grayscale-0 focus:grayscale-0 transition-all duration-300; */
  /* } */
}

@utilities {
  .text-balance {
    text-wrap: balance;
  }
}
